<link rel="stylesheet" href="/stylesheets/flexbox-page.css" />

<p>Flexbox layout makes it easy to lay out a list of items in a number of different ways. In this example, for instance, having the "Log in" 
item be aligned to the right is a simple matter of setting its left-margin to "auto".</p>

<div class="menu-bar pure-menu pure-menu-horizontal">
  <ul class="menu-bar-list pure-menu-list">
    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
    <li class="pure-menu-item"><a href="#" class="pure-menu-link">About</a></li>
    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Features</a></li>
    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Themes</a></li>
    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Plans</a></li>
    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Blog</a></li>
    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Support</a></li>
    <li class="login-item pure-menu-item"><a href="#" class="pure-menu-link">Log in</a></li>
  </ul>
</div>

<p>Centering things used to be one of the notoriously difficult things to do in CSS. With flexbox, we can now easily center elements 
  (both horizontally and vertically!) by simply setting all the margins to "auto".</p>

<div class="box">
  <button class="center">Meet me in the middle</button>
</div>
