<link rel="stylesheet" href="/stylesheets/grid-page.css" />

<p>Grid layout allows for arranging elements in a 2-dimensional grid. It provides a number of powerful features, such has allowing certain
  elements to span multiple rows or columns.</p>

<div class="apps-grid">
  <div class="app">Dwellement</div>
  <div class="app">VivaBeachLife</div>
  <div class="app">From Start To Furnish</div>
  <div class="app">ChiselAndClick</div>
  <div class="app">TurnKeyStylings</div>
  <div class="app">TheDesignAlley</div>
  <div class="app long">Savois-Faire</div>
  <div class="app">Enrich Space</div>
  <div class="app">Bright Layout</div>
  <div class="app">Furnish Fab</div>
  <div class="app">Arrow And Knot</div>
  <div class="app">Tru Artisan</div>
  <div class="app">Ivy Range</div>
  <div class="app">Ninja Vector</div>
  <div class="app">Synergific</div>
  <div class="app">Vybsy</div>
</div>
