<p>This application is a simple showcase of some of the modern CSS 3 layout features. One of the trends in the latest developments in 
  CSS is to achieve responsive designs with minimal use of media queries, which is the focus of this showcase. On any of these pages, 
  feel free to resize the browser window (or rotate your device) to see how the layout responds.
</p>
<p>This application was inspired by a talk given by Justin Slack at <a href="https://www.devconf.co.za/" rel="noopener noreferrer" target="_blank">DevConf 2020</a> 
titled &ldquo;Farewell Bootstrap (and other tales from the new CSS layout)&rdquo;.</p>
<p>Click on the links in the side-bar to see the various features on display.</p>
