<p>This application is a simple showcase of some of the modern CSS 3 layout features.</p>
<p>It was inspired by a talk given by Justin Slack at <a href="https://www.devconf.co.za/" target="_blank">DevConf 2020</a> titled 
  &ldquo;Farewell Bootstrap (and other tales from the new CSS layout)&rdquo;.</p>
<p>Click on the links in the side-bar to see the various features on display.</p>
