<!DOCTYPE html>
<html>
  <head>
    <title>CSS Layout - {{title}}</title>
    <link rel="stylesheet" href="/stylesheets/purecss/base-min.css" />
    <link rel="stylesheet" href="/stylesheets/purecss/menus-min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="menu-container">
      <div class="menu-bar pure-menu">
        <span class="pure-menu-heading">CSS Layout</span>
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="page-one" class="pure-menu-link">Page One</a></li>
          <li class="pure-menu-item"><a href="page-two" class="pure-menu-link">Page Two</a></li>
        </ul>
      </div>
      <div class="page-content">
        <h1>{{title}}</h1>
        {{{body}}}
      </div>
    </div>
  </body>
</html>
