<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/purecss/base-min.css' />
    <link rel='stylesheet' href='/stylesheets/purecss/menus-core-min.css' />
    <link rel='stylesheet' href='/stylesheets/purecss/menus-skin-min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
