<p>Resize the browser window to be narrower than a standard tablet in portrait orientation (768px). 
The media query in the stylesheet will make the side-menu jump to the top of the page.</p>
<p>This media query looks as follows:</p>
<pre>
@media only screen and (max-width: 768px) {
  ...
}</pre>
