.menu-bar {
  padding: 5px;
  background-color: #F5F5F5;
}

.menu-bar > .menu-bar-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.login-item {
  margin-left: auto;
}

.centering-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #EFF0F1;
}

button {
  padding: 5px;
  background-color: #F5F5F5;
}
