/* Layout */

.apps-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  grid-gap: 20px;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-height: 150px;
}

.long {
  grid-row: auto / span 2;
}

.person-container {
  margin: 20px;
  display: grid;
  grid-template: 
    'image    header' auto 
    'image    bio'    auto 
    'contact  bio'    1fr /
    220px       1fr;
  grid-gap: 20px;
}

@media only screen and (max-width: 560px) {
  .person-container {
    grid-template: 
      'image    header'   auto 
      'contact  contact'  auto 
      'bio      bio'      auto /
      100px       1fr;
  }
}

.person-image {
  grid-area: image;
  width: 100%;
}

.person-header {
  grid-area: header;
}

.person-bio {
  grid-area: bio;
}

.person-contact {
  grid-area: contact;
}

/* Styling */

.app {
  cursor: pointer;
  color: #606060;
  background-color: #EAEAFF;
  border-color: #ccccff;
  border-style: solid;
  border-width: 3px;
  border-radius: 8px;
}

.app:hover {
  background-color: #EEEEFF;
}

.person-name {
  font-size: 1.2em;
  font-weight: bold;
}

.person-occupation {
  color: gray;
}

.person-contact {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
}
