html, body {
  height: 100vh;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  font-weight: normal;
  font-size: 3em;
}

a {
  color: #00B7FF;
}

pre, code {
  background-color: #EFF0F1;
}

code {
  padding: 2px;
}

pre {
  padding: 5px;
}

.page-container {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}

.side-menu-bar {
  flex-shrink: 0;
  padding: 20px;
  overflow-y: auto;
  background-color: #F5F5F5;
}

.page-content {
  flex-grow: 1;
  padding: 5px 50px;
  overflow-y: auto;
}
