:root {
  --text-color: black;
  --main-background-color: white;
  --link-color: #00B7FF;
  --code-background-color: #EFF0F1;
  --menubar-background-color: #F5F5F5;
  --menuitem-hover-background-color: #E0E0E0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #D0D0D0;
    --main-background-color: black;
    --link-color: #005B7F;
    --code-background-color: #181615;
    --menubar-background-color: #181818;
    --menuitem-hover-background-color: #202020;
  }
}

body {
  font: 18px Arial, sans-serif;
  color: var(--text-color);
  background-color: var(--main-background-color);
}

h1 {
  text-align: center;
  font-weight: normal;
  font-size: 3em;
}

a {
  color: var(--link-color);
}

pre, code {
  background-color: var(--code-background-color);
}

code {
  padding: 2px;
}

pre {
  padding: 5px;
}

#main-menu-bar {
  background-color: var(--menubar-background-color);
}

.menu-item > a:hover {
  background-color: var(--menuitem-hover-background-color);
}
